<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microquation.sample"
    android:installLocation="preferExternal">


    <!--LinkedME-->

    <application
        android:name=".activity.LinkedMEDemoApp"
        android:configChanges="orientation|keyboard"
        android:allowBackup="true"
        android:icon="@drawable/icon1"
        android:label="@string/app_name"

        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- URI Scheme方式 -->
            <intent-filter>
                <data android:scheme="linkedmedemo" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- APP Links方式 -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="lkme.cc" android:pathPrefix="/AfC" android:scheme="https" />
                <data android:host="lkme.cc" android:pathPrefix="/AfC" android:scheme="http" />
            </intent-filter>

        </activity>
        <!--Test和Live模式，Test和Live Key-->
        <meta-data android:name="linkedme.sdk.TestMode" android:value="false" />
        <meta-data android:name="linkedme.sdk.key" android:value="linkedme_live_7e289a2484f4368dbafbd1e5c7d06903" />
        <meta-data android:name="linkedme.sdk.key.test" android:value="linkedme_test_7e289a2484f4368dbafbd1e5c7d06903" />
        <activity android:name=".activity.AppsActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activity.MainActivity" />
            <meta-data android:name="linkedme.sdk.auto_link_path" android:value="apps" />
        </activity>

        <activity android:name=".activity.DemoActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activity.MainActivity" />
            <meta-data android:name="linkedme.sdk.auto_link_path" android:value="demo" />
        </activity>

        <activity android:name=".activity.SummaryActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activity.MainActivity" />
            <meta-data android:name="linkedme.sdk.auto_link_path" android:value="summary" />
        </activity>

        <activity android:name=".activity.FeaturesActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".activity.MainActivity" />
            <meta-data android:name="linkedme.sdk.auto_link_path" android:value="feature" />
        </activity>


        <!--LinkedME Demo App为演示深度功能，集成友盟的社会化分享组件，实现分享功能-->

        <!-- 友盟AppKey-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="560fce13e0f55a730c003844" />

        <!-- 友盟 微信分享 -->
        <activity
            android:name="com.microquation.sample.umeng.wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!-- 友盟 微博分享 -->
        <activity
            android:name="com.microquation.sample.umeng.wbapi.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>
        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false">
        </service>

    </application>

    <!--需要开启的权限-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />


</manifest>


